@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

body {
    text-align: center;
    background: white;
    font-family: "Ubuntu", Verdana, serif;
}

#container {
    text-align: center;
}

.links {
    font-size: 20px;
}

.noresult,
.table {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.noresult {
    display: none;
}

#info {
    margin-right: 25px;
}